@page "/todos"
@inject ITodoService TodoService

<PageTitle>Todo List</PageTitle>
<h3>Todo List</h3>

<table> 
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
</table>